body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/backg1.jpeg);
    background-repeat: no-repeat;
    background-size: 100vh;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    right: 0;
    top: 0;
    background-size: cover;
}

.form-login {
    flex-basis: 450px;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card .card-foooter {
    display: flex;
    justify-content: flex-end;
}

.form-login .login-card .card-header>i {
    font-size: 2.0rem;
}